<html>
    <head>
    </head>
    <body>
        <h1>WED2 Testat</h1>
        <h2>by adeicha & dfuoco</h2>
        <form action='/create' method='get'><input id="create"type='submit' value='Create a new note'></form>
        <button id="styleSwitcher">Style Switcher</button>
        <button id="sortFinish">By finish date</button>
        <button id="sortCreate">By created date</button>
        <button id="sortImportance">By Importance</button>
        <button id="hideDone">Fertige verbergen</button>
        <form action='/notes' method='get'><input type='submit' value='Test 4 all'></form>

        <h3>your notes</h3>
            {{#if notes}}
            {{#each notes}}
                <!--<tr>
                    <th scope="row">{{_id}}</th>
                    <td>{{title}}</td>
                    <td>{{description}}</td>
                    <td>{{prio}}</td>
                    <td>{{finishedUntil}}</td>
                    <td>{{done}}</td>
                    <td>
                        <form action='/edit?id={{_id}}' method='post'>
                            <input data-id="{{_id}}" type='submit' value='edit'>
                        </form>
                    </td>
                </tr>-->

                <div class="note">
                    <h3>{{title}}</h3>
                    <div>{{description}}</div>
                    <div>
                        {{#times this.prio}}
                            <span class="star">*</span>
                        {{/times}}
                    </div>
                    <div>Finished until: {{finishedUntil}}</div>
                    <div>
                        <input type="checkbox" value="done" name="done" {{#if todoObject.done}} checked {{/if}} >
                    </div>
                    <div>
                        <form action='/edit?id={{_id}}' method='post'>
                            <input data-id="{{_id}}" type='submit' value='edit'>
                        </form>
                    </div>
                </div>
            {{/each}}
            {{else}}

                <p>
                    No notes found
                </p>
            {{/if}}


    </body>
</html>